*.txss
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.bbl
0/Aut0_*.pdf
1/Aut1_*.pdf
2/Aut2_*.pdf
3/Aut3_*.pdf
*.blg
4/Aut4_*.pdf
5/Aut5_*.pdf
tata230.pdf
2/img+txt/tata232.pdf
3/Aut3_pres.pdfpc
3/img/mc_microwave.jpg
3/img/xkcd_1195_flowchart.png
4/img/mc_microwave.jpg
5/00_MGL_WEITERE_THEMEN.txt
5/img/pythagoras_tree_col_skewed.png
